#hey_there{
  height: 20%;
  color: red;
  text-align: center;
  /* bring your own prefixes */
}

.square{
  height: 300px;
  text-decoration: none;
}

#square_top{
  height: 33%;
}

#square_bottom{
  height: 33%;
}

.bubble {
  width: 200px !important;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.square:hover{
  text-decoration: none;
}

.square2{
  display: none;
}

.square:hover .bubble{
  min-width: 80% !important;
  transform: translateY(-0%);
  border-radius: 1px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  top: 0%;
}

.square:hover .square2{
  display: block;
}

.square_title{
  color: green;
  text-align: center;
  font-size: 20px;
}

.square_info{
  font-size: 14px;
}
