#hey_there{
  height: 20%;
  color: red;
  text-align: center;
  /* bring your own prefixes */
}

.square{
  /*background: pink;*/
  border: solid 1px green;
  height: 300px;
}

#square_top{
  height: 33%;
}

#square_bottom{
  height: 33%;
}

.bubble {
  width: 200px !important;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.square2{
  display: none;
}

.square:hover .bubble{
  display: none;
}

.square:hover .square2{
  display: block;
}
