body, html {
    min-height: 100% !important;
    height: 100% !important;
}

body{
    background-image: url(../assets/galaxy.jpg);
    /*background-repeat: no-repeat;*/
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#main_vert_center{
  position: relative;
  top: 50%;
  transform: translateY(-0%);
}

/*@media (max-height: 760px) {
  #main_vert_center {
    top: 20%;
    transform: translateY(-15%);
  }
}

@media (max-height: 500px) {
  #main_vert_center {
    transform: auto;
  }
}*/

.square{
  height: 300px;
  text-decoration: none;
}

#square_top{
  position: relative;
  top: -20px;
  height: 33%;
}

#square_bottom{
  padding-top: 400px;
  height: 33%;
}

@media (max-width: 750px) {
  #square_bottom {
    padding-top: 0;
  }
}

.bubble {
  opacity: 0.2;
  width: 80%;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: top 1s, border-radius 1s, opacity 1s, height 1s; /* Safari */
  transition: top 1s, border-radius 1s, opacity 1s, height 1s;
}

.square:hover{
  text-decoration: none;
  min-height: 300px;
  z-index: 99;
}

.square2{
  display: none;
}

.square:hover .bubble{
  opacity: 1;
  height: auto;
  min-width: 80%;
  transform: translateY(-0%);
  border-radius: 1px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  top: 0%;
  z-index: 90;
}

.square:hover .square2{
  display: block;
}

.square_title{
  color: #B1D978;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  text-align: center;
  font-size: 20px;
}

.square_info{
  font-size: 14px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

#drive{
  font-size: 14px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

#drive a{
  text-decoration: none;
  color: #B1D978;
}

.delete{
  display: none;
}

.navbar-cover .active{
  border-radius: 100px / 70px;
  border: solid 1px #B1D978;
}

.navbar-cover a:hover, .navbar-cover a:focus{
  background-color: transparent !important;
  border-radius: 100px / 70px;
  border: solid 1px #B1D978;
}